
@using Gms.Common
@model Gms.Domain.Department

@{
    Layout = null;
}

<form method="post" action="/Department/SaveOrUpdate">

    <table>
        
        <tr>
            <td>上级名称</td>
            <td>
                @Html.TextBoxFor(c => c.Parent.Id,new{@style="display: none"})
                @Html.TextBoxFor(c => c.Parent.Name,new{@disabled="disabled"})
            </td>
        </tr>
        
        <tr>
            <td>编码</td>
            <td>
                @Html.TextBoxFor(c => c.CodeNo)
            </td>
        </tr>

        <tr>
            <td>名称</td>
            <td>
                @Html.TextBoxFor(c => c.Id,new{@style="display: none"})
                @Html.TextBoxFor(c => c.Name)
            </td>
        </tr>
        
        <tr>
            <td>备注</td>
            <td>
                @Html.TextAreaFor(c=>c.Note)

            </td>
        </tr>

    </table>

</form>
