
@model Gms.Domain.Order

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<a href="@Url.Action("Index", "Order")">订单管理</a>&gt;&gt;订单修改

<script type="text/javascript" src="@Url.Content("/Scripts/jquery-easyui-1.3.2/datagrid-detailview.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/order/order.js")"></script>
<link rel="stylesheet" href="@Url.Content("/Scripts/kindeditor-4.1.6/themes/default/default.css")" />
<script type="text/javascript" src="@Url.Content("/Scripts/kindeditor-4.1.6/kindeditor-min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/kindeditor-4.1.6/lang/zh_CN.js")"></script>

<script type="text/javascript" src="@Url.Content("/Scripts/swfupload/swfupload.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/swfupload/handlers.js")"></script>

<style>
    .ComputerTotalPrice {
        color: forestgreen;
        background-color: transparent;
        font-size: 20px;
        font-weight: bold;
        border: none;
    }

    .OrderTop label {
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
    }

    .OrderTop span {
        font-size: 14px;
        font-weight: bold;
        color: red;
    }

    .file_item {
        display: inline;
        border: 1px brown solid;
        padding: 3px;
        margin-right: 5px;
        line-height: 28px;
        /*white-space:nowrap;*/
    }

    .file_item a {
        margin-left: 5px;
    }

</style>
<body class="easyui-layout">

    <div data-options="region:'center'">
        @*<a href="@Url.Action("Index", "Order")">返回订单列表</a>*@

        <div id="formcontain">

            @using (Html.BeginForm("CreateOrUpdate", "Order", FormMethod.Post, new { enctype = "multipart/form-data", id = "formorder" }))
            {
                
                <div style="margin: 5px 5px 2px 5px;">

                    <div style="font-weight: bold; font-size: 18px; text-align: center;">
                        订单编号：  @Html.DisplayTextFor(c => c.CodeNo)
                        @Html.HiddenFor(c => c.Id)
                    </div>

                    <div style="text-align: right">
                        @{
                string createUser = "";
                if (Model.CreateUser != null)
                {
                    createUser = Model.CreateUser.LoginName;
                }
                        }
                        录单员：@createUser

                        创建日期：@Model.CreateTime
                        修改日期：@Model.ModifyTime
                    </div>

                    <div class="OrderTop">
                        <label>交货日期：</label>@Html.TextBoxFor(c => c.DeliveryDate, new { @class = "easyui-datetimebox" })
                        <label>订单状态：</label><span>@Model.OrderState.ToString()</span>
                    </div>
                </div>
                
                <div style="margin: 5px 5px 2px 5px;">
                    <div class="easyui-panel" title="客户信息"
                        style="padding: 10px;">

                        <a id="selectCustomer" href="#">选择客户</a>
                        @{
                var cId = 0;
                var cName = "";
                var cMobile = "";
                var cCompany = "";

                if (Model.Customer != null)
                {
                    cId = Model.Customer.Id;
                    cName = Model.Customer.Name;
                    cMobile = Model.Customer.Mobile;
                    cCompany = Model.Customer.Company;
                }
                            
                        }
                        <input type="text" value="@cId" id="Customer_Id" name="customerid" style="display: none">
                        姓名：<input type="text" class="disabledinput" disabled value="@cName" id="new_customer_name" name="newcustomername">
                        电话：<input type="text" class="disabledinput" disabled value="@cMobile" id="new_customer_mobile" name="newcustomermobile">
                        公司：<input type="text" class="disabledinput" disabled value="@cCompany" id="new_customer_company" name="newcustomercompany">

                        <a id="editCustomer" href="#">编辑信息</a>
                    </div>
                </div>     
                
                <div style="margin: 5px 5px 2px 5px;">
                    <div class="easyui-panel" title="加工过程" style="padding: 10px;">

                        <a id="selectCureProcess" href="#">选择加工过程</a>
                        @{
                var cureProcessId = 0;
                var processName = "";
                var processDesc = "";

                if (Model.CureProcess != null)
                {
                    cureProcessId = Model.CureProcess.Id;
                    processName = Model.CureProcess.Name;
                    processDesc = Model.CureProcess.DescString;
                }
                            
                        }
                        <input type="text" value="@cureProcessId" id="CureProcess_Id" name="CureProcess.Id" style="display: none">
                        名称：<input type="text" class="disabledinput" id="CureProcess_Name" disabled value="@processName" >
                        描述：<input type="text" class="disabledinput" id="CureProcess_Desc" disabled value="@processDesc" >
                    </div>
                </div>    
                
                <div style="margin: 15px 5px 2px 5px;">
                    <div class="easyui-panel" title="产品" style="height: 300px;">
                        <div style="margin: 5px;">
                            <a id="btnEditProducts" href="#/Product/Products?OrderId= @Model.Id" class="easyui-linkbutton">编辑</a>    
                        </div>
                        
                        <table id="oreder_products" url="/Product/List?OrderId=@Model.Id">
                        </table>
  
@*                        <iframe src="/Product/Products?OrderId= @Model.Id"    
                                style="width: 100%; height: 100%; border: none;">
                        </iframe>*@
                    </div>
                </div>
                
                <div style="margin: 5px 5px 2px 5px;">
                    <div class="easyui-panel" title="附件">
                        <div class="datagrid-toolbar">
                            <table cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0)" class="l-btn l-btn-plain"><span id="spanButtonPlaceholder" >添加附件</span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    
                        <form runat="server">
                            <div id="content">

                                <div id="swfu_container" style="margin: 0px 10px;">
                                    @*                                    <div>
                                        <span id="spanButtonPlaceholder"></span>
                                    </div>*@
                                    <div id="filelist" style="margin-bottom: 5px;margin-top: 5px;">
                                        @{
                                            IList<FileModel> fList = (List<FileModel>) ViewData["orderfilelist"];
                                            if (fList != null)
                                            {
                                                foreach (var item in fList)
                                                {
                                                    <div class='file_item'>
                                                        <span>@item.filename</span>
                                                        <a target='_blank' href="@item.fileurl">[查看]</a>
                                                        <a class="deletefile" href='#/Order/DeleteFile?ordercode=@Model.CodeNo&filename=@item.filename'>[删除]</a>
                                                    </div>

                                                }
                                            }
                                        }
                                    </div>
                      
                                    <div id="divFileProgressContainer" style="height: 75px;"></div>
                                    

                                </div>
                            </div>
                        </form>
                    </div>
                </div>   
                
                <div style="margin: 15px 5px 2px 5px;">
                    <p style="font-weight: bold">备注：</p>

                    @Html.TextAreaFor(c => c.Note, new { style = "width:100%;height:100%;", @class = "KindEditorArea" })

                </div>

                <div style="margin: 5px 5px 10px 5px;">
                    <div style="padding: 10px; background-color: gainsboro; font-size: 14px; font-weight: bold; text-align: right;">

                        实收金额 @Html.TextBoxFor(c => c.RealTotalPrice, new { @class = "messager-input" })

                    </div>
                </div>

                <div style="margin-bottom: 5px; text-align: right;">
                    <a id="btnsave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
                </div>
            }
        </div>

        <div id="selcet_customer_dlg" dlgtitle="客户信息" style="display: none;">
            <iframe id="selcet_customer_dlg_content" style="width: 100%; height: 100%; border: none;">
                @*动态加载*@
            </iframe>
        </div>

        <div id="selcet_cureprocess_dlg" dlgtitle="选择加工过程" style="display: none;">
            <iframe id="selcet_cureprocess_dlg_content" style="width: 100%; height: 100%; border: none;">
                @*动态加载*@
            </iframe>
        </div>
        
        <div id="edit_products_dlg" dlgtitle="编辑产品" style="display: none;">
            <iframe id="edit_products_dlg_content" style="width: 100%; height: 100%; border: none;">
                @*动态加载*@
            </iframe>
        </div>
 

    </div>

</body>

<script type="text/javascript">
    $(document).ready(function () {
        Order.Edit();
    });

    var swfu;
    window.onload = function () {
        swfu = new SWFUpload({
            // Backend Settings
            upload_url: "/Order/UploadFile",
            post_params: {
                "AUTHID": "@Request.Cookies[".ASPXAUTH"].Value",
                "ASPSESSID": "@Session.SessionID",
                "orderid":"@Model.Id" 
            },

            // File Upload Settings
            //file_size_limit: "2 MB",
            file_types: "*.*",
            file_types_description: "所有类型",
            file_upload_limit: 0,    // Zero means unlimited

            // Event Handler Settings - these functions as defined in Handlers.js
            //  The handlers are not part of SWFUpload but are part of my website and control how
            //  my website reacts to the SWFUpload events.
            swfupload_preload_handler: preLoad,
            swfupload_load_failed_handler: loadFailed,
            file_queue_error_handler: fileQueueError,
            file_dialog_complete_handler: fileDialogComplete,
            upload_progress_handler: uploadProgress,
            upload_error_handler: uploadError,
            upload_success_handler: uploadSuccess,
            upload_complete_handler: uploadComplete,

            // Button settings
            //button_image_url: "@Url.Content("/Scripts/swfupload/images/upbtn.png")",///Content/img/inserfile.png
            button_placeholder_id: "spanButtonPlaceholder",
            button_width: 78,
            button_height: 20,
            button_text: '<span class="button">添加附件</span>',//<span class="buttonSmall">(2 MB)</span>
            button_text_style: '.button { font-family: Helvetica, Arial, sans-serif; font-size: 14pt; color:#000000;} ',
            button_text_top_padding: 1,
            button_text_left_padding: 5,
            button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
            button_cursor: SWFUpload.CURSOR.HAND,

            // Flash Settings
            flash_url: "@Url.Content("/Scripts/swfupload/swfupload.swf")",	// Relative to this file
            flash9_url: "@Url.Content("/Scripts/swfupload/swfupload_fp9.swf")",	// Relative to this file

            custom_settings: {
                upload_target: "divFileProgressContainer"
            },

            // Debug Settings
            debug: false
        });
    };

</script>


  
            
            

 