
@model Gms.Domain.Order

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<a href="@Url.Action("Index", "Order")">订单管理</a>&gt;&gt;订单修改

@*<script type="text/javascript" src="@Url.Content("/Scripts/jquery-easyui-1.3.2/datagrid-detailview.js")"></script>
<link rel="stylesheet" href="@Url.Content("/Scripts/kindeditor-4.1.6/themes/default/default.css")" />
<script type="text/javascript" src="@Url.Content("/Scripts/kindeditor-4.1.6/kindeditor-min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/kindeditor-4.1.6/lang/zh_CN.js")"></script>

<script type="text/javascript" src="@Url.Content("/Scripts/swfupload/swfupload.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/swfupload/handlers.js")"></script>*@

<style>
    
    .file_item {
        display: inline;
        border: 1px brown solid;
        padding: 3px;
        margin-right: 5px;
        line-height: 28px;
        /*white-space:nowrap;*/
    }

    .file_item a {
        margin-left: 5px;
    }

</style>
<body class="easyui-layout">

    <div data-options="region:'center'">

        <div style="margin: 5px 5px 2px 5px;">
            <div style="text-align: center;">
                
                <span style="font-weight: bold; font-size: 18px;">
                    订单编号:@Model.CodeNo
                </span>
            </div>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <b>交货日期：</b>@Model.DeliveryDate
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @{
                                        var cId = 0;
                                        var cName = "";
                                        var cMobile = "";
                                        var cCompany = "";

                                        if (Model.Customer != null)
                                        {
                                            cId = Model.Customer.Id;
                                            cName = Model.Customer.Name;
                                            cMobile = Model.Customer.Mobile;
                                            cCompany = Model.Customer.Company;
                                        }
                                    }

                                    <b>客户姓名：</b>@cName
                                    <b>电话：</b>@cMobile
                                    <b>公司：</b>@cCompany
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    @{
                                        var processName = "";
                                        var processDesc = "";

                                        if (Model.CureProcess != null)
                                        {
                                            processName = Model.CureProcess.Name;
                                            processDesc = Model.CureProcess.DescString;
                                        }
                                    }
                        
                                    <b>加工过程：</b>
                                    <span>
                                        @processName
                                        【@processDesc】
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>备注：</b>
        
                                    @if (Model.Note.IsNullOrEmpty())
                                    {
                                        <span>暂无备注</span>
                                    }
                                    else
                                    {
                                        var strHtml = HttpUtility.UrlDecode(Model.Note);
     
                                        <div>@strHtml</div>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @{
                                        string createUser = "";
                                        if (Model.CreateUser != null)
                                        {
                                            createUser = Model.CreateUser.LoginName;
                                        }
                                    }
                                    <b>录单员：</b>@createUser
                                    <b>创建日期：</b>@Model.CreateTime
                                    <b>修改日期：</b>@Model.ModifyTime
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>总价（计算值）</b>&emsp;@Model.TotalPrice
                                    &emsp;&emsp;
                                    <b>总价（实收金额）</b>@Model.RealTotalPrice
                                </td>
                            </tr>
                            <tr>
                                <td>
                                附件：
                                @{
                                    IList<FileModel> fList = (List<FileModel>) ViewData["orderfilelist"];
                                    if (fList != null)
                                    {
                                        foreach (var item in fList)
                                        {
                                            <div class='file_item'>
                                                <span>@item.filename</span>
                                                <a target='_blank' href="@item.fileurl">[查看]</a>
                                            </div>
                                        }
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top;padding: 5px;">
                        <table>
                            <tr>
                                <td style="text-align: right;">
                                    <span style="font-weight: bold; font-size: 18px;color: #006400"> @Model.OrderState.ToString() </span>
                                    <a href="#" id="btnChangeStatus" class="btn-small">修改</a>
                                </td>
                            </tr>
                            <tr style="text-align: right;">
                                <td><b>加工记录：</b><a href="#" id="btnAdd" class="btn-small">添加</a></td>
                            </tr>
                            <tr>
                                <td style="min-width: 450px;">
                                    <table id="productcure_search_list" url="/ProductCure/List?OrderId=@Model.Id">
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>
        </div>


        <div>
            <table id="product_search_list" url="/Product/List?OrderId=@Model.Id">
            </table>
        </div>

        <div id="productcure_edit">
            <div id="productcure_content" style="padding: 5px;">
                @{
                    Html.RenderAction("Edit", "ProductCure", new { id = 0, orderid = Model.Id });
                }
                
            </div>
        </div>
        
        <div id="change_status_dlg" >
            
            <div style="padding: 28px;">
                 @Html.DropDownListForEnum(c=>c.OrderState,"OrderState","",null)
            </div>
 
        </div>

    </div>

</body>
<script type="text/javascript" src="@Url.Content("/Scripts/order/order.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Order.View();
    });
</script>