@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

@using Gms.Domain
@model Gms.Domain.Order

<body style="font-size: 14px; padding: 5px;">
    
    <div id="PrintData" style="width: 800px;">
        
        <style>
            .title {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 10px;
                margin-top: 10px;
            }

            .PrintTable {
                border-bottom: 1px solid;
                border-right: 1px solid;
                width: 100%;
            }

            .PrintTable td{
                border-top: 1px solid;
                border-left: 1px solid;
            }

        </style>

        <div class="title">利源玻璃工艺厂生产加工单</div>
    
        <div>
 
            @if (Model.Customer != null)
            {
                <span>客户名称：@Model.Customer.Name </span>
            }
            else
            {
                <span>客户名称： &emsp;&emsp;&emsp;&emsp;</span>
            }
            
            
            <span>交货日期：@Model.DeliveryDate</span>
            <span style="float: right">订单编号：<b style="font-size: 18px;">@Model.CodeNo</b></span>
        </div>
        
        <div>
            @{
                if (Model.CureProcess != null)
                {
                    <span>加工方式：<b>@Model.CureProcess.Name </b></span>
                    <span>加工流程：<b>@Model.CureProcess.DescString</b></span>
                }
            }
            
        </div>
    
        <div style="margin-top: 10px;margin-bottom: 10px;">
            <table cellspacing="0" class="PrintTable">
                <tr>
                    <td style="width: 50px;">序号</td>
                    <td>产品名称</td>
                    <td style="width: 50px;">厚度</td>
                    <td>规格</td>
                    <td style="width: 60px;">数量</td>
                    <td style="width: 60px;">面积</td>
                    <td>加工说明</td>
           
                </tr>
            
                @{
                    int nIndex = 0;
                    int nTotalAmount = 0;
                    int nTotalArea = 0;
                    foreach (var product in Model.Products)
                    {
                        nIndex++;
                        nTotalArea += product.Area;
                        nTotalAmount += product.Amount;
                        
                        <tr>
                           
                            <td>
                                @nIndex &ensp;
                            </td>
                            <td>
                                @product.Name &ensp;
                            </td>
                            <td>
                                @product.Thickness &ensp;
                            </td>
                            <td>
                                @product.LongEdge
                                &ensp;*&ensp;
                                @product.ShortEdge
                                &ensp;
                            </td>
                            <td>
                                @product.Amount
                                &ensp;
                            </td>
                            <td>
                                @product.Area
                                &ensp;
                            </td>
                            <td>
                                @product.Note
                                &ensp;
                            </td>
                        </tr>
                    }
                }
                

                <tr>
                    <td>合计</td>
                    <td>&ensp;</td>
                     <td>&ensp;</td>
                     <td>&ensp;</td>
                    <td>@nTotalAmount</td>
                    <td>@nTotalArea &ensp;</td>
                    <td>&ensp;</td>
           
                </tr>

            </table>
        
        </div>
    
        <div>
            
            @if (Model.CreateUser != null)
            {
                <span>录单员：@Model.CreateUser.LoginName</span>
            }
            else
            {
                <span>录单员：&emsp;&emsp;&emsp;&emsp;</span>
            }
            
            <span>下单日期：@Model.CreateTime</span>
            <span style="float: right;padding-right: 20px;">打印日期：@DateTime.Now</span>
           
        </div>

        <div>
            <span>领单员：&emsp;&emsp;&emsp;&emsp;</span>
            <span style="float: right; padding-right: 150px;">交单日期：</span>
            <span style="float: right; padding-right: 100px;">交单员：</span>
        </div>
        <div style="page-break-after:always ">&ensp;</div>
    </div>

    <div style="float: right; padding-right: 10px;margin-top:10px;">
        <a id="btnPrint" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'">确定打印</a>
    </div>

</body>
    <script type="text/javascript" src="@Url.Content("/Scripts/order/print.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Print.Init();
    });

</script>

