@using Gms.Domain
@model Gms.Domain.StoreOut
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body>
    
    <title>修改销售出库单</title>

    <div class="easyui-panel" style=" padding: 10px; background: #fafafa;">
    
        <form id="entityform" method="post" action="/StoreOut/SaveOrUpdate">
                
            @Html.HiddenFor(c=>c.Id)

            <table>
                <tr>
                    <td>票号</td>
                    <td style="width: 240px;">
                        <input type="text" disabled="disabled"  value="@Model.CodeNo">
                    </td>
                    <td colspan="2">&ensp;</td>
                </tr>
                <tr>
                    <td >单据编号</td>
                    <td>
                        @Html.TextBoxFor(c => c.OrderCode)
                    </td>

                    <td style="width: 80px;">单据日期</td>
                    <td>
                        @Html.TextBoxFor(c => c.OrderTime,new{@class="easyui-datebox"})
                    </td>
                </tr>

                <tr>
                    
                    <td>仓库</td>
                    <td>
                        @{
                            int storeId = 0;
                            String storeName = "";
                            if (Model.Store != null)
                            {
                                storeId = Model.Store.Id;
                                storeName = Model.Store.Name;
                            }
                        }
                        <input id="Store_Id" name="Store.Id" style="display: none" value="@storeId" />
                        <input id="Store_Name" name="Store.Name"  disabled="disabled" value="@storeName" />

                        <a id="selectStore" href="#@CommonCodeType.仓库">选择仓库</a>
                    </td>
            
                    <td>客户</td>
                    <td>
                        @{
                            int customerId = 0;
                            String customerName = "";
                            if (Model.Customer != null)
                            {
                                customerId = Model.Customer.Id;
                                customerName = Model.Customer.Name;
                            }
                        }
                        <input id="Customer_Id" name="Customer.Id" style="display: none" value="@customerId" />
                            <input id="Customer_Name" name="Customer.Name"  disabled="disabled" value="@customerName" />

                        <a id="selectCustomer" href="#">选择客户</a>
                    </td>
                </tr>
                    
                <tr>
                    <td>销售员</td>
                    <td colspan="3">
                        
                        @{
                            int sellerId = 0;
                            String sellerName = "";
                            if (Model.Seller != null)
                            {
                                sellerId = Model.Seller.Id;
                                sellerName = Model.Seller.LoginName;
                            }
                        }
                        <input id="Seller_Id" name="Seller.Id" style="display: none" value="@sellerId" />
                            <input id="Seller_Name" name="Seller.Name"  disabled="disabled" value="@sellerName" />

                        <a id="selectSeller" href="#">选择销售员</a>
                    </td>
                </tr>

                <tr>
                    <td>结算账户</td>
                    <td>
                 
                        @{
                            int accId = 0;
                            String accName = "";
                            if (Model.Account != null)
                            {
                                accId = Model.Account.Id;
                                accName = Model.Account.Name;
                            }
                        }
                        <input id="Account_Id" name="Account.Id" style="display: none" value="@accId" />
                        <input id="Account_Name" name="Account.Name"  disabled="disabled" value="@accName" />

                        <a id="selectAccount" href="#">选择账户</a>
                    </td>
            
                    <td>本次应收款</td>
                    <td>
                        @Html.TextBoxFor(c=>c.Amount)
                    </td>
                </tr>
                    
                <tr>
                    <td>本次欠款</td>
                    <td>
                        @Html.TextBoxFor(c=>c.Debt)
                    </td>
            
                    <td>本次收款</td>
                    <td>
                        @Html.TextBoxFor(c => c.AmountReceipt)
                    </td>
                    
                </tr>
            
                <tr>
                    
                    <td>付款人</td>
                    <td>
                        @Html.TextBoxFor(c=>c.Payer)
                    </td>

                    <td>收款人</td>
                    <td>
                        @Html.TextBoxFor(c => c.Payee)
                    </td>
   
                </tr>

                <tr>
                    <td>备注</td>
                    <td colspan="3">
                        @Html.TextBoxFor(c => c.Note,new {style="width: 500px;"})
                    </td>
                </tr>

            </table>

            <input name="sgoods" style="display: none;" id="sgoods" />
        </form>
        
        <div style="margin-top: 10px;margin-bottom: 10px;">
            <div id="toolbar" style="padding: 5px; height: auto">
                <div>
                    输入商品首品，快速添加：
                    <select id="ccQuickAdd" style="width: 200px;"></select>
                   
                    <span>|</span>
                    <a href="#" id="btnAddGoods" class="easyui-linkbutton" >添加商品</a>
                </div>
            </div>
     
            <table id="entity_search_list" url="/StoreOut/DetailList?storeOutId=@Model.Id">
            
            </table>
        </div>

        <div>
            <span>登记人：</span>
            @Html.DisplayTextFor(c => c.Creator.LoginName)
            <span>创建时间：</span>
            <input type="text" disabled="disabled" class="easyui-datebox" value="@Model.CreateTime" >
        </div>

        <div id="selcet_item_dlg" dlgtitle="选择XX" style="display: none;padding:8px;">
            <iframe id="selcet_item_dlg_content" style="width: 100%; height: 100%; border: none;" frameborder="no">
                @*动态加载*@
            </iframe>
        </div>

    </div>
    
    
    
    <div align="center" style="margin-top: 10px;">
        <a href="#" id="btnSave" class="easyui-linkbutton" iconcls="icon-save" >保存</a>
    </div>
    
</body>

<script type="text/javascript" src="@Url.Content("/Scripts/StoreOut/StoreOut.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        StoreOut.Edit();
    });

</script>