@using Gms.Domain
@model Gms.Domain.StoreIn
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
    String strTitle = "新增采购入库单";
    
    if ( Model.Id > 0)
    {
        strTitle = "修改采购入库单";
    }
}

<body>
    
    <title>@strTitle</title>

    <div class="easyui-panel" style=" padding: 10px; background: #fafafa;">
    
        <form id="entityform" method="post" action="/StoreIn/SaveOrUpdate">
                
            @Html.HiddenFor(c=>c.Id)

            <table>
                <tr>
                    <td>票号</td>
                    <td style="width: 240px;">
                        <input type="text" disabled="disabled"  value="@Model.CodeNo">
                    </td>
                    <td colspan="2">&ensp;</td>
                </tr>
                <tr>
                    <td >单据编号</td>
                    <td>
                        @Html.TextBoxFor(c => c.OrderCode)
                    </td>

                    <td style="width: 80px;">单据日期</td>
                    <td>
                        @Html.TextBoxFor(c => c.OrderTime,new{@class="easyui-datebox"})
                    </td>
                </tr>

                <tr>
                    
                    <td>仓库</td>
                    <td>
                        @{
                            int storeId = 0;
                            String storeName = "";
                            if (Model.Store != null)
                            {
                                storeId = Model.Store.Id;
                                storeName = Model.Store.Name;
                            }
                        }
                        <input id="Store_Id" name="Store.Id" style="display: none" value="@storeId" />
                        <input id="Store_Name" name="Store.Name"  disabled="disabled" value="@storeName" />

                        <a id="selectStore" href="#@CommonCodeType.仓库">选择仓库</a>
                    </td>
            
                    <td>供应商</td>
                    <td>
                        @{
                            int supplierId = 0;
                            String supplierName = "";
                            if (Model.Supplier != null)
                            {
                                supplierId = Model.Supplier.Id;
                                supplierName = Model.Supplier.Name;
                            }
                        }
                        <input id="Supplier_Id" name="Supplier.Id" style="display: none" value="@supplierId" />
                        <input id="Supplier_Name" name="Supplier.Name"  disabled="disabled" value="@supplierName" />

                        <a id="selectSupplier" href="#">选择供应商</a>
                    </td>
                </tr>
                    
                <tr>
                    <td>采购员</td>
                    <td colspan="3">
                        
                        @{
                            int buyerId = 0;
                            String buyerName = "";
                            if (Model.Buyer != null)
                            {
                                buyerId = Model.Buyer.Id;
                                buyerName = Model.Buyer.LoginName;
                            }
                        }
                        <input id="Buyer_Id" name="Buyer.Id" style="display: none" value="@buyerId" />
                        <input id="Buyer_Name" name="Buyer.Name"  disabled="disabled" value="@buyerName" />

                        <a id="selectBuyer" href="#">选择采购员</a>
                    </td>
                        
                </tr>

                <tr>
                    <td>结算账户</td>
                    <td>
                        @Html.TextBoxFor(c=>c.Account)
                    </td>
            
                    <td>本次应付款</td>
                    <td>
                        @Html.TextBoxFor(c=>c.Amount)
                    </td>
                </tr>
                    
                <tr>
                    <td>本次欠款</td>
                    <td>
                        @Html.TextBoxFor(c=>c.Debt)
                    </td>
            
                    <td>本次付款</td>
                    <td>
                        @Html.TextBoxFor(c => c.AmountPay)
                    </td>
                    
                </tr>
            
                <tr>
                    
                    <td>付款人</td>
                    <td>
                        @Html.TextBoxFor(c=>c.Payer)
                    </td>

                    <td>收款人</td>
                    <td>
                        @Html.TextBoxFor(c => c.Payee)
                    </td>
   
                </tr>

                <tr>
                    <td>备注</td>
                    <td colspan="3">
                        @Html.TextBoxFor(c => c.Note,new {style="width: 500px;"})
                    </td>
                </tr>

            </table>

        </form>
        
        <div style="margin-top: 10px;margin-bottom: 10px;">
            <div id="toolbar" style="padding: 5px; height: auto">
                <div>
                    输入商品首品，快速添加：
                    <select id="ccQuickAdd" style="width: 200px;"></select>
                   
                    <span>|</span>
                    <a href="#" id="btnAddGoods" class="easyui-linkbutton" >添加商品</a>
                </div>
            </div>
     
            <table id="entity_search_list" url="/StoreIn/DetailList?storeInId=@Model.Id">
            
            </table>
        </div>

        <div>
            <span>登记人：</span>
            @Html.DisplayTextFor(c => c.Creator.LoginName)
            <span>创建时间：</span>
            <input type="text" disabled="disabled" class="easyui-datebox" value="@Model.CreateTime" >
        </div>

        <div id="selcet_item_dlg" dlgtitle="选择XX" style="display: none;padding:8px;">
            <iframe id="selcet_item_dlg_content" style="width: 100%; height: 100%; border: none;" frameborder="no">
                @*动态加载*@
            </iframe>
        </div>

    </div>
    
    
    
    <div align="center" style="margin-top: 10px;">
        <a href="#" id="btnSave" class="easyui-linkbutton" iconcls="icon-save" >保存</a>
    </div>
    
</body>

<script type="text/javascript" src="@Url.Content("/Scripts/StoreIn/StoreIn.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        StoreIn.Edit();
    });

</script>