@using Gms.Domain
@using NHibernate.Loader.Collection
@model Gms.Domain.Supplier
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body>

    <div id="tabSupplier" >	
        <div title="基本资料" style="padding:10px">	

            <form id="entityform" method="post" action="/Supplier/SaveOrUpdate">
                
                @Html.HiddenFor(c=>c.Id)
                @Html.HiddenFor(c=>c.RelationType)
                
                <table style="width: 100%;">
                    
                    <tr>
                        <td>编号</td>
                        <td colspan="3">
                            @{
                                if (@Model.Id > 0)
                                {
                                    <input type="text" disabled="disabled"  value="@Model.CodeNo">
                                }
                                else
                                {
                                    <input type="text" name="CodeNo"  value="@Model.CodeNo">
                                }
                            }
                        </td>
                    </tr>
       
                    <tr>
                        <td style="width: 15%;">姓名</td>
                        <td style="width: 35%;">
                            
                            @Html.TextBoxFor(c => c.Name)
                        </td>
     
                        <td style="width: 15%;">姓名简拼</td>
                        <td style="width: 35%;">
                            @Html.TextBoxFor(c=>c.Pinyin)
                        </td>
                    </tr>

                    <tr>
                        <td>供应商类别</td>
                        <td colspan="3">
                            @Html.DropDownListForCommonCode(c=>c.SupplierType,CommonCodeType.供应商类别)
                        </td>

                    </tr>
                    
                    <tr>
                        <td>默认结算账户</td>
                        <td colspan="3">
                            @{
                                int accId = 0;
                                string accName = "";
                                if (Model != null && Model.Account != null)
                                {
                                    accId = Model.Account.Id;
                                    accName = Model.Account.Name;
                                }
                            }

                            <input id="Account_Id" name="Account.Id" style="display: none" value="@accId" />
                            <input id="Account_Name" name="Account.Name"  disabled="disabled" value="@accName" />

                            <a id="selectAccount" href="#">选择账户</a>
                        </td>

                    </tr>

        
                    <tr>
                        <td>期初日期</td>
                        <td>
                            <input type="text" name="BaseTime" class="easyui-datebox" value="@Model.BaseTime" >
                        </td>
     
                        <td>期初应付款</td>
                        <td>
                            @Html.TextBoxFor(c=>c.FukuanQc)
                        </td>
                    </tr>
                    
                    <tr>
                        <td>应付款</td>
                        <td>
                            @Html.TextBoxFor(c=>c.FukuanYing)
                        </td>
     
                        <td>预付款</td>
                        <td>
                            @Html.TextBoxFor(c=>c.FukuanYu)
                        </td>
                    </tr>
                    
                    <tr>
                        <td>税号</td>
                        <td>
                            @Html.TextBoxFor(c=>c.ShuiHao)
                        </td>
     
                        <td>帐号</td>
                        <td>
                            @Html.TextBoxFor(c=>c.CardNo)
                        </td>
                    </tr>

                    <tr>
                        <td>增值税率</td>
                        <td>
                            @Html.TextBoxFor(c=>c.TaxRate)
                        </td>
     
                        <td>累计消费金额</td>
                        <td>
                            @Html.DisplayTextFor(c=>c.Amount) 元
                        </td>
                    </tr>

                    <tr>
                        <td>备注</td>
                        <td colspan="3">
                            @Html.TextAreaFor(c=>c.Note)
                        </td>
                    </tr>

                </table>

            </form>
        </div>	
        <div title="联系方式" style="padding:10px">
            
            <iframe style="width: 100%; height: 100%; border: none;" src="/Supplier/Alert" url="/Contact?id=@Model.Id" frameborder="no">
                @*动态加载*@
            </iframe>
        </div>
    </div>
    创建日期：
    <input type="text" name="CreateTime" class="easyui-datebox" disabled="disabled" value="@Model.CreateTime" >
    
    <div id="btnBottom" align="center" style="margin-top: 10px;">
        <a href="#" id="btnSave1" class="easyui-linkbutton" iconcls="icon-save" >保存</a>
        <span>|</span>
        <a href="#" id="btnSave2" class="easyui-linkbutton" iconcls="icon-save" >保存，并关闭页面</a>
    </div>
    
</body>

<script type="text/javascript" src="@Url.Content("/Scripts/Supplier/Supplier.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Supplier.Edit();
    });

</script>